<div class="create-community-page">
    <div class="form-area">
        <h3>Create Community</h3>
        <div class="textfield">
            <input type="text" name="" placeholder="Title" />
        </div>
        <textarea name="description" cols="10" rows="5" placeholder="Description"></textarea>
        <div class="discard-post">
            <button class="discard-button">DISCARD</button>
            <button class="post-button">POST</button>
        </div>
    </div>
    <div class="home-cardslist">
        <app-homecardpostcommunity></app-homecardpostcommunity>
        <app-homecardbrowsecom></app-homecardbrowsecom>
    </div>
</div>